/* befor-footer-link */

.befor-footer-link {
    border-top: 1px solid#f2f1f4;
}

.footer {
    background-color: #F2F1F4;
}

.footer-nav > a {
    height: 33px;
    font: 12px/28px Arial, Helvetica, sans-serif;
    color: #4b4b4b;
    text-decoration: none;
    border: 2px solid #67C315;
    border-radius: 2px;
}

.pl-41 {
    padding-left: 41px;
}
.footer-nav > a:hover {
    color: var(--thirdColor);
}

.footer-email {
    padding: 0 0 0 11px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    height: 33px;
    font: 12px/30px Arial, Helvetica, sans-serif;
    color: #000;
    outline: none;
    border-radius: 2px;
}

.footer-col {
    border-right: 1px solid #e4e4e4;
}
.footer-checkbox__descr {
    padding-left: 16px;
  font: normal 10px Arial;
  color: #9e9e9e;
}

.footer-col-title {
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
.footer-col-right > nav > a {
    font: 12px/24px Arial, Helvetica, sans-serif;
    min-height: 24px;
}

.footer-icon {
    width: 29px;
    height: 29px;
}

.copyright {
    font: 11px Arial, Helvetica, sans-serif;
    color: #4b4b4b;
}
.copyright > a   {
    color: #67C315;
}
.footer-link {
    background-color: #F2F1F4;
    color: var(--secondColor);
}
.footer-link:hover {
    color: var(--thirdColor);
    transition: 500ms;
}

.footer-col-right__info-link {
    color: var(--firstColor);
}
.footer-col-right__info-link:hover {
    color: var(--thirdColor);
    transition: 500ms;
}

.footer-subscribe-link > a {
    text-decoration: underline;
}
.footer-subscribe-link > a:hover {
    text-decoration: none;
    color: var(--secondColor);
    transition: 500ms;
}

#user-link:hover {
    transition: 500ms;
    color: var(--thirdColor);
}

.footer-accordion {
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
  }
    
  .footer-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  .footer-panel-link {
    display: block;
    height: 38px;
    padding: 5px 5px 5px 42px;
    color: var(--seondary-color);
  }

.footer-border-bottom {
    border-bottom: 1px solid #e4e4e4;
}
.footer-accordion-img {
    width: 50px;
}
.footer-sm-form-1 {
    display: none;
}

@media screen and (max-width: 632px) {
    .footer-sm-form {
        display: none;
    }
    .footer-sm-form-1 {
        display: block;
    }

}