* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 13px Arial, Helvetica, sans-serif;
}

:root {
    --firstColor: #337ab7;
    --secondColor: #504d48;
    --thirdColor: #CC0000;
    --fourColor: #90ad59;
    --fiveColor: #E8E7E7;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.mx-100 {
    max-width: 100%;
}

.container {
    position: relative;
    max-width: 1280px;
}

/*  own-paddings  */
.px-18 {
    padding-left: 18px;
    padding-right: 18px;
}

.py-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.px-15 {
    padding: 0 15px;
}

/* header-block */

#header {
    padding: 21px 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 100;
    background-color: #fff;
    border-bottom: 2px solid #F6F6F6;
}


.header__content {
    min-height: 52px;
    margin: 0 auto;
}
@media screen and (max-width: 991px) {
    .header-container {
        max-width: 750px;
        padding: 0 15px;
     
    }
}

.header-btn {
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FCFBFB;
  overflow-x: hidden;
  transition: 0.5s;
}

.mySidenav-panel {
    max-height: 0;
    overflow: hidden;
}

.sidenav-link:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {

}

#span-close {
    display: none;
}

#space-link {
    display: block;
    padding: 2px 0 19px;
}



.accordion-menu-1::after {
    position: absolute;
    top: 0;
    right: 23px;
    display: block;
    height: 100%;
    width: 6px;
    content: "";
    background: url("../img/arrow-menu-mob.png") no-repeat 0 50%;
}

.accordion-menu-2::after {
    position: absolute;
    top: 0;
    right: 23px;
    display: block;
    height: 100%;
    width: 6px;
    content: "";
    background: url("../img/arrow-menu-mob.png") no-repeat 0 50%;
}


.accordion-menu-3::after {
    position: absolute;
    top: 0;
    right: 23px;
    display: block;
    height: 100%;
    width: 6px;
    content: "";
    background: url("../img/arrow-menu-mob.png") no-repeat 0 50%;
}

.active1, .accordion-menu-1:hover {
    color: #fff !important;
    background-color: #9BC85B;
}

.active2, .accordion-menu-2:hover {
        color: #24282b;
    background-color: #DFDFDF;
}

.active3, .accordion-menu-3:hover {
        color: #24282b;
    background-color: #DFDFDF;
}
.main-menu-link {
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    color: #24282b;
    padding: 0 23px;
    border-top: 1px solid #dcdcdc;
}

.personal-cabinet {
    display: block;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    height: 38px;
    line-height: 38px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    color: #24282b;
    padding: 0px;
    width: 100%;
    background: #999;
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}





/*  nav-1-block */

.nav-1 {
    align-items: center;
    min-height: 32px;
    background-color: var(--fiveColor);
}

.nav-1__link {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
}
@media screen and (max-width: 1200px) {
    .nav-1__link {
        padding: 0 5px;
    }
}
.nav-1__link:hover {
    background-color: #fff;
}

.nav-1__link {
    color: var(--secondColor);
}

.nav-1__links {
    color: var(--firstColor);
}
@media screen and (max-width: 992px) {
    .top-nav {
        margin-top: 90px;
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 260px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: var(--thirdColor);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover a {
    background-color: #fff;
}

/* nav-2-block */

.nav-2__1-link {
    display: block;
    width: 162px;
    height: 100%;
}

.nav-2 {
    display: flex;
    align-items: center;
}

.nav-2-column-2 > a > span {
    color: var(--firstColor);
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px dashed #171717;
}
@media screen and (max-width: 1140px) {
    .nav-2-column-2 > h5 {
        font-size: 18px;
    }

    .nav-2-column-2 {
        margin-right: 30px;
        margin-left: 30px;
    }

    .nav-2-column-2 > a > span {
        font-size: 11px;
    }
}
.nav-2-column-2 > a:hover span {
    color: var(--thirdColor);
    transition: 500ms;
    border: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.nav-2-column-3 {
    position: relative;
    display: flex;
    border: 2px solid #90ad59;
}

.nav-2-column-3 > select {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 98px;
    margin: 5px;
    background: #f0efef;
    padding-left: 7px;
    border: none;
    outline: none;
}

.nav-2-column-3 > input {
    width: 190px;
    font-size: 12px;
    color: #000;
    height: 40px;
    line-height: 40px;
    background: none;
    border: none;
    padding: 0 0 0 14px;
    outline: none;
}
@media screen and (min-width: 1198px) and (max-width: 1266px) {
    .nav-2-column-3 > input {
        width: 170px;
    }
}
.photo {
    background: url("../img/photo.svg") no-repeat;
    background-position: center;
    width: 23px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.nav-2-column-3 > button {
    position: absolute;
    right: 0;
    min-width: 50px;
    border: 2px solid #7db832;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #88bd3b;
    cursor: pointer;
    outline: none;
    vertical-align: bottom;
    color: #ffffff;
}

.nav-2-column-4__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.nav-2-column-4__block > a {
    color: var(--secondColor);
}
.nav-2-column-4__block-link {
    color: var(--secondColor);
}

.nav-2-column-4__block-link:hover {
    color: var(--fourColor);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;   
}
.nav-2-column-4__block > a:hover {
    color: var(--fourColor);
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.nav-2-column-4__block-img-2 {
    margin-top: -5px;
}

.nav-2-column-4__block__drop {
    position: absolute;
    left: -250px;
    top: 5px;
    width: 340px;
    border: 1px solid #eae9e9;
    background: #fff;
    border-radius: 2px;
    z-index: 99;
    margin-top: 10px;
}

.nav-2-column-4__block__drop > h3 {
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
}

.nav-2-column-4__block__drop > p {
    color: #000;
    padding: 10px 15px 0;
    border-top: 1px solid #dedede;
}

.note {
    bottom: -35px;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

.note > p > a {
    color: var(--firstColor);
}

.note > p > a > span {
    border-bottom: 0.5px dashed #337ab7;
}
.note > p > a:hover span {
    border: none;
}
@media screen and (max-width: 1042px) {
    .note {
        font-size: 12px;
    }
}

/* nav-3 */

.nav-3 {
    height: 42px;
    background-color: #ff8a02;
}

#nav {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
}

#nav > li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    text-align: center;
}
#nav > li:not(:last-child) {
    border-right: 1px solid #fff;
}

#nav > li > a {
    display: block;
    padding: 0 20px;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
#nav > li > a:hover {
    background-color: #67ae00;
}
@media screen and (max-width: 1299px) {
    #nav > li > a {
        padding: 0 12px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1199px) {
    #nav > li > a {
        padding: 0 10px;
        font-size: 11px;
    }
}

/* main  */

.main-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.main-nav > a:nth-child(1):before {
    content: "";
    background: url("../img/about/home-link.png")no-repeat center;
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: -15px;
    top: 5px;
}
 
.main-nav > a:nth-child(1) {
    display: block;
    padding: 5px 5px 5px 23px;
    margin-right: 15px;
}

.main-nav > a:nth-child(1):hover {
    color: var(--thirdColor);
}

.main-nav > a:nth-child(1):after {
    content: '';
    background: url("../img/about/arrow-down.svg") no-repeat center;
    width: 4px;
    height: 9px;
    position: absolute;
    top: 12px;
    margin-left: 10px;
    margin-top: -4px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main-nav > a:nth-child(2) {
    color: var(--secondColor);
    display: block; 
    padding: 5px;
}

.recycleBinCount {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: #ff8a02;
    height: 14px;
    text-align: center;
    font: 500 12px/14px 'Roboto', sans-serif;
    color: #fff;
    border-radius: 5px;
    width: 20px;
    position: absolute;
    top: 3px;
    right: -8px;
    z-index: 1;
}


.dropdown_box {
    width: 150px;
    margin-right: 20px;
    color: #000;
}

.dropdown_box > a {
    padding: 0;
}

.dropdown_box > span {
    padding-top: 10px;
    font-size: 17px;
    font-weight: bolder;
}

.dropdown_counter {
    background: #fff;
    border: 1px solid #ECECEC;
    border-radius: 7px;
    justify-content: space-around;
    width: 60px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 25px;
}

.dropdown_btn {
    width: 150px;
    height: 42px;
    background-color: #84cc34;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
}

.bold {
    font-size: 17px;
    font-weight: bolder;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.pl-20 {
    padding-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pt-20 {
    padding-top: 20px;
}

.w-40 {
    width: 40% !important;
}

.standart-order-box > input, select {
    height: 38px;
    margin-bottom: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 12px;
    padding-left: 10px;
}

.standart-order-box > button {
    height: 39px;
}

/* .comment {
    font-size: 10px;
} */

.commentText {
    height: 65px;
    margin-bottom: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 13px;
    resize: none;
}




/* before-footer */

.befor-footer-link {
    border-top: 1px solid#f2f1f4;
}

.footer {
    background-color: #F2F1F4;
}

.footer-nav > a {
    height: 33px;
    font: 12px/28px Arial, Helvetica, sans-serif;
    color: #4b4b4b;
    text-decoration: none;
    border: 2px solid #67C315;
    border-radius: 2px;
}

.pl-41 {
    padding-left: 41px;
}
.footer-nav > a:hover {
    color: var(--thirdColor);
}

.footer-email {
    padding: 0 0 0 11px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    height: 33px;
    font: 12px/30px Arial, Helvetica, sans-serif;
    color: #000;
    outline: none;
    border-radius: 2px;
}

.footer-col {
    border-right: 1px solid #e4e4e4;
}
.footer-checkbox__descr {
    padding-left: 16px;
  font: normal 10px Arial;
  color: #9e9e9e;
}

.footer-col-title {
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
.footer-col-right > nav > a {
    font: 12px/24px Arial, Helvetica, sans-serif;
    min-height: 24px;
}

.footer-icon {
    width: 29px;
    height: 29px;
}

.copyright {
    font: 11px Arial, Helvetica, sans-serif;
    color: #4b4b4b;
}
.copyright > a   {
    color: #67C315;
}
.footer-link {
    background-color: #F2F1F4;
    color: var(--secondColor);
}
.footer-link:hover {
    color: var(--thirdColor);
    transition: 500ms;
}

.footer-col-right__info-link {
    color: var(--firstColor);
}
.footer-col-right__info-link:hover {
    color: var(--thirdColor);
    transition: 500ms;
}

.footer-subscribe-link > a {
    text-decoration: underline;
}
.footer-subscribe-link > a:hover {
    text-decoration: none;
    color: var(--secondColor);
    transition: 500ms;
}

#user-link:hover {
    transition: 500ms;
    color: var(--thirdColor);
}

.footer-accordion {
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
  }
    
  .footer-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  .footer-panel-link {
    display: block;
    height: 38px;
    padding: 5px 5px 5px 42px;
    color: var(--seondary-color);
  }

.footer-border-bottom {
    border-bottom: 1px solid #e4e4e4;
}
.footer-accordion-img {
    width: 50px;
}
.footer-sm-form-1 {
    display: none;
}

@media screen and (max-width: 632px) {
    .footer-sm-form {
        display: none;
    }
    .footer-sm-form-1 {
        display: block;
    }

}
